# 0) Install the modules we need

Using additional modules in Python generally requires two steps:
- Install the modules onto your device
- Import the installed modules into your Python script
    
To install modules we use pip - a built-in packages manager for Python. If you don't know what pip is: https://realpython.com/what-is-pip/
    
Run the following commands in your command prompt to install the modules for this demo:

- pip install mysql-connector-python
- pip install pandas

# 1) Import the modules and methods that we need

In [1]:
import sys
sys.path.append(r"\file_path_to_your_package_library")

import pandas as pd
import mysql.connector
from mysql.connector import Error
from functools import partial
from IPython.display import display

# 2) Create a custom print() function

This spaces out the print() outputs of our script for better read-ability in the Console.

A nice print() function is not essential for connecting to SQL databases!

In [2]:
custom_print = partial(print, end='\n\n')

# 3) Write our SQL Query

We save our SQL query as a Python string, which we will call upon shortly...

In [3]:
query = """
SELECT *
FROM students_details
;
"""

# 4) Connect to our database

When you set up MySQL Workbench on your computer, the host is usually 'localhost', the user is usually 'root' and you will define your own password.

In [4]:
try:
    # credentials to connect to database
    connection = mysql.connector.connect(host='localhost',
                                         database='mudss',
                                         user='root',
                                         password='/*2C1P1a1L*/')
except Error as e:
    # in case we have difficulties connecting
    custom_print('Connection error: \n', e)

# 5) Execute the query from (3)

Save the results to a Pandas dataframe for further analysis.

In [5]:
if connection.is_connected():
    custom_print('Connected server version:', connection.get_server_info())

    cursor = connection.cursor()
    cursor.execute(query)

    # fetchall() retrieves all rows from a results set as a list of tuples
    record = cursor.fetchall()
    df = pd.DataFrame(record, columns=cursor.column_names)

Connected server version: 8.0.26

# 6) Peek at the data

In [6]:
# cursor.statement retrieves the query last sent to the MySQL database
custom_print('Query sent: \n', cursor.statement)
custom_print('DataFrame retrieved:')
display(df)

Query sent:
 SELECT *
FROM students_details
;

DataFrame retrieved:

   student_id first_name date_of_birth favourite_cheese
0    11111111     Jordan    2000-01-01          Cheddar
1    22222222      Julia    2000-01-02       Mozzarella
2    33333333       Paul    2000-01-03          Cheddar
3    44444444       Lake    2000-01-04      Wensleydale
4    55555555       Nial    2000-01-05      Blue Cheese

# 7) Close the connection

In [7]:
cursor.close()
connection.close()
custom_print('Connection is closed')

Connection is closed